/* CSS code for Research study */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  #desktop-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
  }
  
  #website-content {
    display: none;
  }
  
  /* CSS code for Info Box */
  .info_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .info-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .info-list {
    margin-bottom: 20px;
  }
  
  .info {
    margin-bottom: 10px;
  }
  
  .buttons {
    display: flex;
  }
  
  .restart,
  .quit {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .quit {
    background-color: #dc3545;
  }
  
  /* CSS code for Result Box */
  .result_box {
    display: none;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .result_box h1,
  .result_box h4 {
    text-align: center;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .question-number {
    font-weight: bold;
  }
  
  .options {
    margin-top: 10px;
  }
  
  .option {
    display: block;
    margin-bottom: 10px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* CSS code for Quiz Box */
  .quiz_box {
    display: none;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .quiz_box h1,
  .quiz_box h4 {
    text-align: center;
  }
  
  /* CSS code for Consent Form */
  .terms {
    font-size: 20px;
    visibility: visible;
    display: none;
  }
  
  /* CSS code for Start Button */
  .start_btn {
    display: none;
  }
  
  /* CSS code for Submit Button */
  #submit {
    visibility: hidden;
    transition: 0s;
  }
  
  /* CSS code for Checked Radio Button */
  .checked {
    color: orange;
  }
  
  /* CSS code for Survey Form */
  #survey-form {
    display: flex;
    flex-direction: column;
  }
  
  /* CSS code for Textarea */
  textarea {
    width: 100%;
    height: 85%;
    padding: 0px 25px;
    font-size: 17px;
  }
  
  /* CSS code for Checkbox */
  #terms {
    width: 20px;
    height: 20px;
  }
  
  /* CSS code for Consent Form Agreement */
  span {
    font-size: 17px;
    visibility: visible;
    font-weight: 600;
  }
  